<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        
        <a class="navbar-brand" href="">
            <img src="logo.png" alt="logo" />
            Mithril
        </a>
    </div>
</div>

<input type="checkbox" title="Nawigacja" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Start
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="exercises">
                <span class="bi bi-person-arms-up" aria-hidden="true"></span> Ćwiczenia
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="workouts">
                <span class="bi bi-stopwatch" aria-hidden="true"></span> Treningi
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="workouts-history">
                <span class="bi bi-history" aria-hidden="true"></span> Historia treningów
            </NavLink>
        </div>

    </nav>
</div>

