@page "/404"
@page "/NotFound"

<h3>404 - Nie znaleziono strony</h3>
<p>Przepraszamy, ale strona, której szukasz, nie istnieje.</p>
<p><a href="/">Wróæ do strony g³ównej</a></p>

<style>
    h3 {
        color: #d9534f;
    }

    p {
        color: #333;
    }

    a {
        color: #0275d8;
        text-decoration: none;
    }

        a:hover {
            text-decoration: underline;
        }
</style>
